<div class="calculadora">
	<div>
		<%= label_tag :op1, "operando 1" %>
		<%= text_field_tag :op1 %>
		
		<%= label_tag :op1, "operando 2" %>		
		<%= text_field_tag :op2 %>
	</div>
	
	<div>
		<%= link_to "+", "#", :data => { :type => "op", :op => "+" }, :class => "btn btn-success" %>
		<%= link_to "-", "#",  :data => { :type => "op", :op => "-" }, :class => "btn btn-success" %>
		<%= link_to "*", "#",  :data => { :type => "op", :op => "*" }, :class => "btn btn-success" %>
		<%= link_to "/", "#",  :data => { :type => "op", :op => "/" }, :class => "btn btn-success" %>
	</div>
	
	<div>
		Respuesta: <span data-id="res">Salida</span>
	</div>
</div>
