<div class="chatroom">
	<h1>Chatroom</h1>
	<div>
		<p>Bienvenido <%= params[:nick] %>
	</div>
	<div class="row">
		<div class="conversation span9" data-last-update="<%= DateTime::now %>" >
			<% @current_messages.each{ |m| %>
				<div class="message">
					<%= "#{m.nick} > #{m.message}" %>
				</div>
			<% } %>
		</div>
		<div class="users span3" >
			<% @current_users.each{ |u| %>
				<div class="user">
					<%= u.nick %>
				</div>
			<% } %>
		</div>
	</div>
	<div class="inputs">
		<%= form_tag chats_post_message_path(:format => :js), :remote => true do %>
			<%= hidden_field_tag :nick, params[:nick] %>
			<div class="input-append">
				<%= text_field_tag :message %>
				<%= submit_tag ">>", :class => "btn btn-success" %>
			</div>
		<% end %>
	</div>
</div>
